

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  scroll-behavior: smooth;
  margin: 0;
 
  padding: 0;
}

#wrapper{
  display: flex;
}

.left-header{
  display: flex;
  align-items: center;
}

.left-header i{
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
 padding: 5px;
}

#list-container i{
  margin-left: 10px;
}

#list-container ul li{
 
  padding: 10px 20px 10px 0px ;
}

#list-container ul li span{
  padding-left: 15px;
}

#list-container ul li{
  display: flex;
  align-items: center;
}

#list-container ul li:nth-child(3){
  border-bottom: 1px solid rgba(128, 128, 128, 0.497);
}

#list-container ul li:nth-child(5){
  border-bottom: 1px solid rgba(128, 128, 128, 0.457);
}

#list-container ul li:hover{
  background-color: rgba(128, 128, 128, 0.496);
  border-radius: 17px;
  transform: translateY(-2px);
  cursor: pointer;
}

.left-header i:hover{
  background-color: rgba(128, 128, 128, 0.468);
  border-radius: 20px;
  box-sizing: border-box;
  cursor: pointer;
}
/* .left-header{
  width: 100%;
} */
.left-header img{
  padding-left: 20px;
  width: 45%;
  height: 65px;
}

#left-wrapper{
  padding: 0px 15px 15px 15px;
  height: 700px;
  position: sticky;
  top: 10px;
  /* border: 1px solid black; */
}

#left-wrapper ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#right-wrapper{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
  /* border: 1px solid black; */
  margin-top: 2px;
}

.video-card {
  /* display: flex; */
  width: 31%;
  height: 410px;
 
  /* margin: 20px ; */
  border-radius: 10px;

  padding: 10px;
  background-color: #fff;
  /* border: 1px solid black; */
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.video-card i{
  color: rgba(128, 128, 128, 0.893);
}

.video-card img {
  width: 100%;
  height: 240px;
  border-radius: 15px;
  object-fit:cover;
}

.video-info {
  flex: 1;
  padding: 0px;
  padding-left: 0px;
}

/* CSS for Channel Logo */
.channel-info img {
  margin-top: 5px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
}


.video-info h3 {
  font-size: 16px;
  margin: 0;
  margin-bottom: 10px;
}

.stats i{
  padding-right: 10px;
  padding-bottom: 5px;
  font-size: 20px;
}
.stats p {
  display: flex;
  padding-right: 10px;
  align-items: center;
  margin: 0;
  font-size: 16px;
  color: #606060;
  
}


.video-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}


#header{
  width: 100%;
  height: 60px;
  background-color: #fff;
  display: flex;
  position: sticky;
  top: 0px;
  align-items: center;
  z-index: 5;
}

#mic-icon{
 margin-right: 400px;
 padding-left: 20px;
}

#mic-icon:hover{
cursor: pointer;

}

#input{
  width: 40%;
  height: 35px;
  padding-left: 10px;
  margin: 10px auto;
  margin-left: 350px;
  border-radius: 15px;
  border: 1px solid gray;
}
#input::placeholder{
   font-size: larger;
}

#list-container p{
  padding-top: 7px;
}
#list-container span{
  color: rgb(43, 42, 42);
}


.channel-info{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.channel-info span{
  padding-left: 5px;
}





/* Responsive design */

@media screen and (width: 320px){
  #left-wrapper{
    display: none;
  }
  #right-wrapper{
    display: flex;
    flex-direction: column;
  }
  .video-card{
    width: 95%;
    height: 218px;
  }
  .video-card img{
    width: 100%;
    height: 150px;
  }
  .channel-info img {
    margin-top: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
  }
  #header{
    display: none;
  }
  .stats{
    display: none;
  }
  .video-info h3 {
    font-size: 11px;
    margin: 0;
    margin-bottom: 10px;
  }

  .channel-info{
    font-size: 12px;
  }
}
/* 
@media screen and (width: 375px){
  #left-wrapper{
    display: none;
  }
  #right-wrapper{
    display: flex;
    flex-direction: column;
  }
  .video-card{
    width: 95%;
    height: 218px;
  }
  .video-card img{
    width: 100%;
    height: 170px;
  }
  .channel-info img {
    margin-top: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
  }
  #header{
    display: none;
  }
  .stats{
    display: none;
  }
  .video-info h3 {
    font-size: 11px;
    margin: 0;
    margin-bottom: 10px;
  }

  .channel-info{
    font-size: 12px;
  }
}
 */